@media only screen and (max-width: 1920px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 450%;

      }
      p{
        font-size: 150%;
        width: 45%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 450%;
      }
      p{
        font-size: 150%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 1820px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 445%;

      }
      p{
        font-size: 145%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 445%;
      }
      p{
        font-size: 145%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 1720px) {
  .text_head_slide {
    .text_for_slider_anim {
      h2 {
        font-size: 440%;

      }

      p {
        font-size: 140%;
      }
    }

    .text_for_slider {
      h2 {
        font-size: 440%;
      }

      p {
        font-size: 140%;
      }
    }

    .active_slide_btn {
      padding: 10px;
    }

    .btns {
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 1620px) {
  .text_head_slide {
    .text_for_slider_anim {
      h2 {
        font-size: 435%;

      }

      p {
        font-size: 135%;
      }
    }

    .text_for_slider {
      h2 {
        font-size: 435%;
      }

      p {
        font-size: 135%;
      }
    }

    .active_slide_btn {
      padding: 10px;
    }

    .btns {
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 1520px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 430%;
        width: 90%;

      }
      p{
        font-size: 130%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 430%;
      }
      p{
        font-size: 130%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
}

}
@media only screen and (max-width: 1420px) {
  .text_head_slide {
    .text_for_slider_anim {
      h2 {
        font-size: 400%;


      }

      p {
        font-size: 125%;
      }
    }

    .text_for_slider {
      h2 {
        font-size: 425%;
      }

      p {
        font-size: 125%;
      }
    }

    .active_slide_btn {
      padding: 10px;
    }

    .btns {
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 1320px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 420%;

      }
      p{
        font-size: 120%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 420%;
      }
      p{
        font-size: 120%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
}
}
@media only screen and (max-width: 1250px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 415%;

      }
      p{
        font-size: 115%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 415%;
      }
      p{
        font-size: 115%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 410%;

      }
      p{
        font-size: 115%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 410%;
      }
      p{
        font-size: 115%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 405%;

      }
      p{
        font-size: 115%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 405%;
      }
      p{
        font-size: 115%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 400%;

      }
      p{
        font-size: 115%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 400%;
      }
      p{
        font-size: 115%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 395%;

      }
      p{
        font-size: 115%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 395%;
      }
      p{
        font-size: 115%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 990px) {
  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 390%;

      }
      p{
        font-size: 115%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 390%;
      }
      p{
        font-size: 115%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {


  .text_head_slide{
    .text_for_slider_anim{
      h2{
        font-size: 390%;

      }
      p{
        font-size: 115%;
      }
    }
    .text_for_slider{
      h2{
        font-size: 390%;
      }
      p{
        font-size: 115%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .text_head_slide{
    .text_for_slider_anim{
     transform: translate(0,0);
        top:35%;
      h2{
        font-size: 200%;

      }
      p{
        font-size: 115%;
        width: 80%;
      }
    }
    .text_for_slider{
      transform: translate(-200%,0);
      transition: 1s;
      top:35%;
      h2{
        font-size: 200%;
      }
      p{
        font-size: 115%;
        width: 80%;
      }
    }
    .active_slide_btn{
      padding: 10px;
    }
    .btns{
      padding: 10px;
    }
  }
}
