@media only screen and (max-width: 1920px) {
  .footer_content{
    h2{
      font-size: 300%;
    }

    .address_contact{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 25%;
      }
      p{
        font-size: 120%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 45%;
      }
      p{
        font-size: 120%;
      }
    }

  }
}

@media only screen and (max-width: 1820px) {
  .footer_content{
    h2{
      font-size: 290%;
    }

    .address_contact{
      p{
        font-size: 115%;
      }
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 25%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 45%;
      }
      p{
        font-size: 115%;
      }
    }

  }
}

@media only screen and (max-width: 1720px) {
  .footer_content{
    h2{
      font-size: 280%;
    }

    .address_contact{
      p{
        font-size: 110%;
      }
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 25%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 45%;
      }
      p{
        font-size: 110%;
      }
    }

  }
}

@media only screen and (max-width: 1620px) {
  .footer_content{
    h2{
      font-size: 270%;
    }

    .address_contact{
      p{
        font-size: 100%;
      }
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 25%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 45%;
      }
      p{
        font-size: 100%;
      }
    }
    .contactOpener{
      font-size: 95%;
      width: 30%;
    }
  }
}

@media only screen and (max-width: 1520px) {
  .footer_content{
    h2{
      font-size: 260%;
    }

    .address_contact{
      p{
        font-size: 95%;
      }
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 25%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 45%;
      }
      p{
        font-size: 95%;
      }
    }
    .contactOpener{
      font-size: 95%;
      width: 30%;
    }
  }
}
@media only screen and (max-width: 1420px) {
  .footer_content{
    h2{
      font-size: 245%;
    }

    .address_contact{
      p{
        font-size: 90%;
      }
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 28%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 50%;
      }
      p{
        font-size: 90%;
      }
    }
    .contactOpener{
      font-size: 95%;
      width: 33%;
    }
  }
}

@media only screen and (max-width: 1320px) {
  .footer_content{
    h2{
      font-size: 235%;
    }

    .address_contact{
      p{
        font-size: 90%;
      }
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 28%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 53%;
      }
      p{
        font-size: 90%;
      }
    }
    .contactOpener{
      font-size: 90%;
      width: 35%;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .footer_content{
    h2{
      font-size: 225%;
    }

    .address_contact{
      p{
        font-size: 90%;
      }
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 30%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 60%;
      }
      p{
        font-size: 90%;
      }
    }
    .contactOpener{
      font-size: 90%;
      width: 40%;
    }
  }
}
@media only screen and (max-width: 1120px) {
  .footer_content{
    h2{
      font-size: 215%;
    }

    .address_contact{
      p{
        font-size: 90%;
      }
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 35%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 65%;
      }
      p{
        font-size: 90%;
      }
    }
    .contactOpener{
      font-size: 90%;
      width: 45%;
    }
  }
}
@media only screen and (max-width: 1120px) {
  .footer_content{
    h2{
      font-size: 205%;
    }

    .address_contact{

      .footer_p_border{
        border-bottom: 5px solid white;
        width: 40%;
      }
    }
    .address_contact2{
      .footer_p_border{
        border-bottom: 5px solid white;
        width: 75%;
      }

    }
    .contactOpener{
      font-size: 90%;
      width: 50%;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .prtcls{
    height: 95vh !important;
  }
  .heighti{
    height: 95vh !important;
  }
  .contact_footer{
    height: 95vh;
    .footer_container{
      padding: 5vh;
    }
  }
  .footer{
    .containersik{
      .row{
        button{
          margin-left: 10vh;
        }
        h2{
          text-align: center;
          margin-left: 10vh;
          font-size: 300%;
        }
        .k{

          align-items: center;
          .address_contact2{
            margin-left: 4vh;
            .footer_p_border{
              width: 81%;
            }
            p:nth-child(1){
              margin-left: 12.5vh;
            }
            p:nth-child(2){
              margin-left: 6vh;
            }
          }
          .address_contact{
            .footer_p_border{
              width: 40%;
            }
            p:nth-child(1){
              margin-left: 10vh;
            }
            p:nth-child(2){
              margin-left: 12.5vh;
            }
            p:nth-child(3){
              margin-left: 13.5vh;
            }
          }
        }
        .map-responsive{
          margin-top: 5vh;
          padding-bottom: 70%;
          left: -5%;
        }
      }
    }

  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  .prtcls{
    height: 68vh !important;
  }
  .heighti{
    height: 68vh !important;
  }
  .contact_footer{
    height: 68vh !important;
    .footer_container{
      padding: 5vh;
    }
  }
  .map-responsive{
    margin-top: 5vh;
    padding-bottom: 50% !important;
    left: -5%;
  }
  .footer{
    .containersik{
      .row{
        button{
          margin-left: -4vh;
        }
        h2{
          text-align: center;
          margin-left: -2vh;
          font-size: 300%;
        }
        .k{

          align-items: center;
          .address_contact2{
            margin-left: 4vh;
            .footer_p_border{
              width: 100%;
            }
            p:nth-child(1){
              margin-left: 0vh;
            }
            p:nth-child(2){
              margin-left: 0vh;
            }
          }
          .address_contact{
            .footer_p_border{
              width: 62%;
            }
            p:nth-child(1){
              margin-left: 0vh;
            }
            p:nth-child(2){
              margin-left: 0vh;
            }
            p:nth-child(3){
              margin-left: 0vh;
            }
          }
        }
        .map-responsive{
          margin-top: 5vh;
          padding-bottom: 70%;
          left: -5%;
        }
      }
    }

  }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  .footer{
    overflow: hidden;
  }
  .prtcls{
    height:100vh !important;

  }
  .heighti{
    height: 100vh !important;
  }
  .contact_footer{
    height: 100vh !important;
    .footer_container{
      padding: 5vh;
    }
  }
  .map-responsive{
    padding-bottom: 60%;
    position: relative;
    height: 0;
    left: -15%;
  }
  .footer{
    padding: 0 2vh !important;
    .containersik{
      width: 100%;
      .row{
        button{
          width: 100%;
          margin: 5vh 0;
        }
        h2{
          text-align: center;
        }
        .k{
          display: flex !important;
          flex-direction: row !important;
          flex-wrap: wrap;
          overflow: hidden;
          .address_contact{
            text-align: center;
            flex: 1;
            .footer_p_border{
              width: 100%;
            }
          }
          .address_contact2{
            margin-top: 0 !important;
            text-align: center;
            flex: 1;
            display: flex !important;
            flex-direction: column !important;
            align-self: flex-end;
            margin-bottom: 0;
            margin-left: 10px;
            .footer_p_border{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .footer{
    overflow: hidden;
  }
  .prtcls{
    height:155vh !important;

  }
  .heighti{
    height: 155vh !important;
  }
  .contact_footer{
    height: 155vh !important;
    .footer_container{
      padding: 5vh;
    }
  }
  .map-responsive{
    padding-bottom: 45%;
    position: relative;
    height: 0;
    left: -15%;
  }
  .footer{
    padding: 0 2vh !important;
    .containersik{
      width: 90%;
      margin: 0 auto;
      .row{
        button{
          width: 80%;
          margin: 5vh auto;

        }
        h2{
          text-align: center;
        }
        .k{
          display: flex !important;
          flex-direction: row !important;
          flex-wrap: wrap;
          overflow: hidden;
          .address_contact{
            text-align: center;
            flex: 1;
            .footer_p_border{
              width: 100%;
            }
          }
          .address_contact2{
            margin-top: 0 !important;
            text-align: center;
            flex: 1;
            display: flex !important;
            flex-direction: column !important;
            align-self: flex-end;
            margin-bottom: 0;
            margin-left: 10px;
            .footer_p_border{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
