@media only screen and (max-width: 1920px) {
  .mdiv {
    height: 8vh;
    width: 1vh;
  }
  .md {
    height: 8vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 14px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 200%;
    }

  }
  .career_items_list2{

    margin: 0 auto;
  }
  .list_name_items{
    font-size: 200%;
  }
  .cos{
    font-size: 200%;
  }
  .inputs{
    input{
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1820px) {
  .mdiv {
    height: 7.5vh;
    width: 1vh;
  }
  .md {
    height: 7.5vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 14px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 195%;
    }

  }
  .list_name_items{
    font-size: 195%;
  }
  .cos{
    font-size: 195%;
  }
}

@media only screen and (max-width: 1720px) {
  .mdiv {
    height: 7vh;
    width: 1vh;
  }
  .md {
    height: 7vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 14px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 190%;
    }

  }
  .list_name_items{
    font-size: 190%;
  }
  .cos{
    font-size: 190%;
  }
}
@media only screen and (max-width: 1620px) {
  .mdiv {
    height: 6.7vh;
    width: 1vh;
  }
  .md {
    height: 6.7vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 14px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 185%;
    }

  }
  .list_name_items{
    font-size: 185%;
  }
  .cos{
    font-size: 185%;
  }
}
@media only screen and (max-width: 1520px) {
  .mdiv {
    height: 6.2vh;
    width: 1vh;
  }
  .md {
    height: 6.2vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 13px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 180%;
    }

  }
  .list_name_items{
    font-size: 180%;
  }
  .cos{
    font-size: 180%;
  }
}
@media only screen and (max-width: 1420px) {
  .mdiv {
    height: 6vh;
    width: 1vh;
  }
  .md {
    height: 6vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 13px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 175%;
    }

  }
  .list_name_items{
    font-size: 175%;
  }
  .cos{
    font-size: 175%;
  }
}
@media only screen and (max-width: 1320px) {
  .mdiv {
    height: 5.8vh;
    width: 1vh;
  }
  .md {
    height: 5.8vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 13px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 170%;
    }

  }
  .list_name_items{
    font-size: 170%;
  }
  .cos{
    font-size: 170%;
  }
}
@media only screen and (max-width: 1220px) {
  .mdiv {
    height: 5.4vh;
    width: 1vh;
  }
  .md {
    height: 5.4vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 13px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 165%;
    }

  }
  .list_name_items{
    font-size: 165%;
  }
  .cos{
    font-size: 165%;
  }
}
@media only screen and (max-width: 1120px) {
  .mdiv {
    height: 5.2vh;
    width: 1vh;
  }
  .md {
    height: 5.2vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 13px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 160%;
    }

  }
  .list_name_items{
    font-size: 160%;
  }
  .cos{
    font-size: 160%;
  }
}
@media only screen and (max-width: 1020px) {
  .mdiv {
    height: 5vh;
    width: 1vh;
  }
  .md {
    height: 5vh;
    width: 1vh;
  }
  .career_items_list{
    li{
      list-style-type:disc;
      font-size: 13px;
      margin-top: .2em;
    }
    h3{
      margin-bottom: 1em;
      font-size: 155%;
    }

  }
  .list_name_items{
    font-size: 155%;
  }
  .cos{
    font-size: 155%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .vacancies{
    height: 95vh;
  }
.list_name_items{
  margin-bottom: 2vh;
  font-weight: bolder;
}
  .classik{

    .contact{
      .contactContainer{
        .formControler{
          form{
            width: 90%;
            .inputs{
              input{
                width: 100%;

              }
            }



          }
        }
      }
    }
  }
  .open_list{
    padding: 10vh 2vh 2vh 2vh;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  .vacancies{
    height: 90vh;
  }
  .open_list{
    transition: .7s;
    overflow-y: scroll;
    overflow-x: hidden;
    .fix{
      width: 100%;
      height: 100px;
      background: transparent;
      transform: translate(58px,10px);
      position: sticky;
      top: 0;


    }
  }
  .classik{
    flex-direction: column !important;
    justify-content: center;
   align-items: center;
    align-self: center;
    .contact{
      .contactContainer{
        .formControler{
          form{
            width: 90%;
            .inputs{
              input{
                width: 100%;

              }
            }



          }
        }
      }
    }
  }

}
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .open_list{
    transition: .7s;
    overflow-y: scroll;
    overflow-x: hidden;
    .fix{
      width: 100%;
      height: 100px;
      background: transparent;
      transform: translate(58px,10px);
      position: sticky;
      top: 0;


    }
  }
  .vacancies{
    height: 100vh;
  }
}