@mixin position($absolute, $top, $left, $width, $height) {
    position: $absolute;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
}
@mixin display($flex, $between, $center) {
    display: $flex;
    justify-content: $between;
    align-self: $center;
}

@mixin font($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color
}

@mixin width($width, $height, $margin, $padding) {
    width: $width;
    height: $height;
    margin: $margin;
    padding: $padding;
}
