@media only screen and (max-width: 1520px) {
  .team_all{
    .first{
      height: 38vh;
    }
    .bsd{
      margin-top: -3vh;
      p{
        font-size:90% !important;
      }
      p:nth-child(1){
        width: 35%;

      }
    }
  }

}
@media only screen and (max-width: 1420px) {
  .team_all{
    .first{
      height: 37vh;
    }
    .bsd{
      margin-top: -4vh;
      p{
        font-size:90% !important;
      }
      p:nth-child(1){
        width: 35%;

      }
    }
  }
}
@media only screen and (max-width: 1360px) {
  .team_all{
    .first{
      height: 36vh;
    }

    .bsd{
      margin-top: -6vh;
      p{
        font-size:80% !important;
      }
      p:nth-child(1){
        width: 35%;

      }
    }
  }
}
@media only screen and (max-width: 1340px) {
  .team_all{
    .first{
      height: 35vh;
    }
  }
}
@media only screen and (max-width: 1305px) {
  .team_all{
    .first{
      height: 34.5vh;
    }
  }
}
@media only screen and (max-width: 1290px) {
  .team_all{
    .first{
      height: 33.5vh;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .team_all{
    .first{
      height: 33.2vh;
    }
  }
}
@media only screen and (max-width: 1230px) {
  .team_all{
    .first{
      height: 32.5vh;
    }
    .bsd{
      margin-top: -10vh;
      p{
        font-size:70% !important;
      }
      p:nth-child(1){
        width: 35%;

      }
    }
  }
}
@media only screen and (max-width: 1215px) {
  .team_all{
    .first{
      height: 30.7vh;
    }
  }

}
@media only screen and (max-width: 1150px) {
  .team_all{
    .first{
      height: 29.5vh;
    }
    .bsd{
      margin-top: -12vh;
      p{
        font-size:70% !important;
      }
      p:nth-child(1){
        width: 35%;

      }
    }
  }
}
@media only screen and (max-width: 1150px) {
  .team_all{
    .first{
      height: 28vh;
    }
  }
}
@media only screen and (max-width: 1045px) {
  .team_all{
    .first{
      height: 27vh;
    }
  }
}
 @media only screen and ( min-width: 768px) and (max-width: 1024px) {
   .team_all{
     .bsd{
       margin-top: -1vh;
       p{
         font-size:120% !important;
       }
       p:nth-child(1){
         width: 35%;

       }
     }
     .first{
       margin-top:2vh;
       height: 50vh;
       background-size: 100% ;
       .hovered_img{
         height: 100%;
         background-size: 100% ;
       }
     }
   }
 }
@media only screen and ( min-width: 768px) and (max-width: 1024px) and(orientation: landscape) {
  .team{
    .col-lg-3{
      margin-bottom: -10vh;
    }
  }
  .team_all{
    .bsd{
      margin-top: -8vh;
      p{
        font-size:70% !important;
      }
      p:nth-child(1){
        width: 35%;

      }
    }
    .first{
      height: 40vh;
      background-size: 100% ;

      .hovered_img{
        height: 100%;
        background-size: 100% ;
      }
    }
  }
}
@media only screen and ( min-width: 320px) and (max-width: 767px) {
  .team_all{
    .bsd{
      margin-top: -2vh;
      p{
        font-size:90% !important;
      }
      p:nth-child(1){
        width: 35%;

      }
    }
    .first{
      margin-top:2vh;
      height: 50vh;
      background-size: 100% ;
      .hovered_img{
        height: 100%;
        background-size: 100% ;
      }
    }
  }
}
@media only screen and ( min-width: 320px) and (max-width: 767px) and ( orientation: landscape) {
  .team_all{

    .first{
      margin-top:0vh;
      height: 90vh;
      background-size: 100% ;
      .hovered_img{
        height: 100%;
        background-size: 100% ;
      }
    }
  }
}